pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
*.llvm
*.patch
.lsp
.clj-kondo

# model checkpoint.
out-shakespeare-char-cpp

data/*
!data/**/*.py
!data/**/*.md

